* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg: #F5F5F5;
    --header-bg: #FFFF;
    --header-ul-color: #202024;
    --card-bg: #FFFF;
    --tag-color: #F5F5F5;
    --busca-bg: #EEEEEE;
}

a {
    text-decoration: underline 0.15rem rgb(0,0,0,0);
    transition: text-decoration-color 300ms;
}

a:hover {
    text-decoration-color: rgba(0, 0, 0, 1);
}
main {
    width: 100vw;
}
body {
    background: var(--body-bg);
    display: flex;
    align-items: center;
    width: 80vw;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
    
}

header {
    background: var(--header-bg);
    width: 100vw;
    height: 80px;
    overflow-x: hidden;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    font-size: 18px;
    overflow-x: hidden;
}

.nav li {
    list-style: none;
    color: var(--header-ul-color);
}
.nav img {
    height: 3rem;
}

.pesquisa {
    display: none;
}

.home {
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
h2.conheca-ongs {
    font-size: 1.5rem;
}
h2.conheca-ongs a {
    color: #202024;
}

.homeG {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    padding: 2.5rem;
    overflow-x: hidden;
}

.galeria {
    width: 80vw;
}

.conheca-ongs {
    margin-top: 1.2rem;
    text-align: center;
    margin-bottom: 0rem;
}
.galeria .swiper-slide.card {
    margin-top: 2rem;
    overflow-x: hidden;
}

/* .dentro{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background: var(--card-bg);
    border-radius: 10px;
} */

/* .dentro img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
} */


/* .card .txt {
    margin: 15px 25px;
} */

/* .card .tag {
    margin-left: 25px;
    background-color: var(--tag-color);
    width: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 5px;
} */

/* CARD CARROUSEL */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3rem;
    width: 80vw;
    margin-bottom: 1.5rem;
    overflow-x: hidden;
}
.swiper-slide.card {
    background: #f6f6f6;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    height: 26rem;
    margin-bottom: 0.7rem;
}

.slider-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
}

/* IMG do CARD*/
.img-container {
    display: flex;
    padding: 1rem;
    justify-content: center;
    background-color: #000000ad;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.image  {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 0.1rem;
    background: #00000019;
    position: relative;
}
.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

/*  */
.info-ong {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
/* Texto do Card */

.nome,
.descricao {
    padding: 0.2rem 1rem;
}

.nome h1 {
    font-size: 1.5rem;
}
.descricao h4 {
    font-size: 1rem;
}

/* Botoes do card */

.buttons {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: end;
}
.buttons .site,
.buttons .instagram {
    height: 3rem;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    color: #ececec;
    font-size: 1rem;
}
.buttons .site {
    background: #4F4F4F;
    background-image: url(/assets/site-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 25% 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 1rem;
    border-style: none;
    transition: all 0.4s ease;
}
.buttons .site:hover {
    background: #343434;
    background-image: url(/assets/site-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 25% 50%;
}
.site.none {
    pointer-events: none;
    background: rgba(79, 79, 79, 0.466);
    background-image: url(/assets/site-arrow.svg);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 25% 50%;
    filter: blur(0.05rem);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.buttons .instagram {
    background: #4f4f4f;
    background-image: url(/assets/instagram.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 10% 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 0;
    border-style: none;
    transition: all 0.3s ease;
}
.buttons .instagram:hover {
    background: #343434;
    background-image: url(/assets/instagram.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 10% 50%;
}
.instagram.none {
    pointer-events: none;
    background: rgba(79, 79, 79, 0.966);
    background-image: url(/assets/instagram.png);
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: 10% 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    filter: blur(0.04rem);
}

/* SLIDER  (swiper) */
.swiper {
    width: 80vw;
    max-width: 1160px;
    border-radius: 1rem;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: #4F4F4F;
}
.swiper-pagination-bullet {
    background: #4F4F4F;
}

/* MAPA */
section#section-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
#section-mapa h2 {
    margin: 1rem;
    font-size: 2rem;
}
#section-mapa h4 {
    font-size: 1.2rem;
}
iframe {
    width: 100%;
    height: 30rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

/* Contato */
/* Formulario */
.formulario {
    background-color: #ececec;
    padding: 1.4rem;
    border-radius: 1rem;
    margin-top: 2rem ;
}
.contato {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
}
.entrada  {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 5rem;
}
.entrada input {
    width: 60%;
    height: 2rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.3rem;
}
.entrada-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
}
.entrada-text textarea {
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.3rem;
    resize: none;
}
form .buttonContainer {
    width: 100%;
    margin-top: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer button {
    height: 3rem;
    width: 10rem;
    border-radius: 0.2rem;
    border: 1px solid black;
    background: #4F4F4F ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.4s ease;
}
.buttonContainer button:hover {
    background: #343434 ;
}
label {
    padding: 0 0 0.2rem 0;
}
/* Responsividade */
@media (min-width: 1200px) {
    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .pesquisa {
        display: block;
    }

    #busca {
        width: 400px;
        height: 48px;
        border: none;
        border-radius: 8px;
        background: var(--busca-bg);
        padding: 20px;
    }
    
}

@media (max-width: 700px){
    .pesquisa {
        display: none;
    }
    h1 {
        font-size: 2.5rem;
    }
    .nav {
        width: 90vw;
    }
}

@media (max-width: 600px) {
    .buttons .site,
    .buttons .instagram {
        background-image: none;
    }
    h1 {
        font-size: 2.0rem;
    }
    .nome h1 {
        font-size: 1.3rem;
    }
    .entrada label{
        font-size: 1rem;
    }
    .entrada-text label {
        font-size: 1rem
    }
    #section-mapa {
        width: 80vw;
    }
    #section-mapa h2 {
        font-size: 1.5rem;
        width: 80vw;
    }
    #section-mapa h4 {
        font-size: 1.2rem;
        width: 80vw;
    }
    iframe {
        width: 80vw;
        height: 30rem;
    }
}

@media (max-width: 460px) {
    .nav img {
        display: none;
    }
    .home section {
        width: 90vw;
        margin-bottom: 0;
    }
    #section-mapa {
        width: 80vw;
    }
    #section-mapa h2 {
        font-size: 1.5rem;
        width: 80vw;
    }
    #section-mapa h4 {
        font-size: 1.2rem;
        width: 80vw;
    }
    iframe {
        width: 80vw;
        height: 30rem;
    }
}